*{
    
  font-family: "Inter", sans-serif;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    width: 80%;
    margin:auto;
    background-color: #212529;
    color:#7fffd4;
    margin-top: 6vh;
    height: 150vh;
}
.headerCont{
    display: flex;
}
a:link, a:visited {
  background-color: #7fffd4;
  color: #212529;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

a:hover, a:active {
  background-color: c;
  color: #212529;
}
input { 
    border-style: none;
    background: transparent;
    outline: none; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    border-bottom: solid #7fffd4;
    color: #7fffd4;
}
.buttons{
    margin-top: 10%;
    display:flex;
    justify-content: space-evenly;
}
.remove{
    text-decoration: none;
}

.row{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}

.check{
    padding: 10px 20px;
}
.i{
    padding: 10px 20px;
}

@media (min-width: 375px) and (max-width: 580px) {
    input{
    width: 60px;
    }
    .row{
    display: flex;
    justify-content: space-around;
    }   
    .check{
        padding: 5px 10px;
    }
    
.i{
    padding: 0px;
}
.buttons a{
    padding: 10px 20px;
}
  }