h1{
    text-align: center;
}
h2,h3, h4, p{
    text-align: center;
}
body{
    width: 80%;
    margin:auto;
    background-color: #212529;
    color:#7fffd4;
    margin-top: 6vh;
}
table{
    color: #7fffd4;
    width: inherit;
    margin: auto;
}
.headerCont{
    display: flex;
}
a, a:visited {
  border: 2px solid #7fffd4;
  color: #7fffd4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  color: #212529;
}
input { 
    border-style: none;
    background: transparent;
    outline: none; 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    border-bottom: solid #7fffd4;
    color: #7fffd4;
}
table{
    margin-top: 4vh;
}

.buttons{
    margin-top: 10%;
    display:flex;
    justify-content: space-evenly;
}
.instructions{
    width: 90%;
    margin: auto;
    margin-top: 20vh;
}
.mid{
    margin-top: 15vh;
}
.step{
    margin-top: 5vh;
}
@media screen and (max-width: 580px) {
    input{
        width: 98%;
        margin-left: 5px;
    }
    .check{
        font-size: 1vh;
    }
    a:link, a:visited {
        border: 2px solid #7fffd4;
        color: #7fffd4;
        padding: 3px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, a:active {
    color: #212529;
    }
    body{
    width: 95%;
    }
    table {
    border-collapse: separate;
    }
    tr{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    }
    td{
    margin-top: 15px;
    }
    .button{
    margin-left: auto;
    margin-right: auto;
    }
    .buttons a {
        width: auto;
        padding: 10px 15px;
        margin-top: 10%;
    }

  }
