<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="/static/binarytodecimal.css">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet"/>
    </head>
    <body>
          <h1>Binary To Decimal</h1>
          <h2>InDev</h2>
        
        
        <div class="column_container">


                {% for i in blist %}
                <div class="row{{blist.index(i)+ 1}} row">

                  <p class="i">{{blist.index(i) + 1 }}</p>

                  <p class="remove i">{{i}}</p>
                  <p class="i"><input type="text" id="{{clist[blist.index(i)]}}"></p>

                  <p>
                    <a href="#" type="submit" onclick="checkAnswer(this, {{blist.index(i)}}, document.getElementById('{{clist[blist.index(i)]}}').value)" class="check" >Check</a>
                  </p>
                  {% comment %} make a button that check to see of the choice is === the answer then have another button that switches the question {% endcomment %}
                </div>
                {% endfor %}
            
          </div>


          <div class="buttons">
          
            <a href="#" type="submit" onclick="window.location.reload()"> Restart </a>
            <a href="/index.html" type="submit"> Go Back </a>
          
          </div>
          <script type="text/javascript"> 
            var test3 = {{ alist }} ;
        </script>
          <script src="/static/jscripts/binarytodecimal.js"></script>
    </body>
</html>