<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="/static/decimaltobinary.css">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"rel="stylesheet"/>
    </head>
    <body>
        <h1>Decimal To Binary</h1>
        <h2>InDev</h2>

            <div class="column_container">

                {% for i in binlist %}

                <div class="row{{binlist.index(i)+ 1}} row">
                  <p>{{binlist.index(i)+1}}</p>
                  <p class="remove">{{i}}</p>
                  <p><input type="number" id="{{alist[binlist.index(i)]}}" ></p>
                  <p><a href="#" type="submit" onclick="checkAnswer(this, {{binlist.index(i)}}, document.getElementById('{{alist[binlist.index(i)]}}').value)" class="check" >Check</a></p>
                </div>

                {% endfor %}

            </div>


          <div class="buttons">
          
            <a href="#" type="submit" onclick="window.location.reload()"> Restart </a>
            <a href="/index.html" type="submit"> Go Back </a>
          
          </div>

        
          <script type="text/javascript"> 
            var test3 = {{ alist|tojson }} ;
        </script>
          <script src="/static/jscripts/decimaltobinary.js"></script>
    </body>
</html>